[[ $- != *i* ]] && return

# https://wiki.archlinux.org/title/XDG_Base_Directory
XDG_DATA_HOME=$HOME/.local/share
XDG_CONFIG_HOME={{ config_home }}
XDG_STATE_HOME=$HOME/.local/state
XDG_DATA_DIRS=/usr/local/share/:/usr/share
XDG_CONFIG_DIRS=/etc/xdg
XDG_CACHE_HOME=$HOME/.cache

export LS_COLORS="rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:"
export EXA_COLORS="uu=38;5;255:gu=38;5;255:ur=38;5;255:uw=38;5;255:ue=38;5;255:wx=38;5;255:gr=38;5;250:gw=38;5;250:gx=38;5;250:tr=38;5;255:tw=38;5;255:tx=38;5;255:da=38;5;250:sn=32:sb=0:di=38;5;105"

zstyle ':completion:*' menu select=long-list select=0
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}'
zstyle ':completion:*' list-colors $LS_COLORS

autoload -Uz compinit && compinit
autoload -Uz promptinit && promptinit
autoload -Uz colors && colors
# Configure zsh compsys to show hidden files
_comp_options+=(globdots)

for f in $(find {{ zsh_home }} -maxdepth 2 -type f -name "*.sh"); do source "$f"; done

PLUGIN_HOME={{ zsh.plugin_home }}
for plugin in $(find $PLUGIN_HOME -mindepth 1 -maxdepth 1 -type d);
do
  source "$plugin/$(basename $plugin).plugin.zsh"
done

export FZF_DEFAULT_OPTS="
  --bind 'ctrl-f:page-down,ctrl-b:page-up,ctrl-o:execute(code {})+abort'
  --color fg:102,bg:233,hl:65,fg+:15,bg+:234,hl+:108
  --color info:108,prompt:109,spinner:108,pointer:168,marker:168
"
test -f ~/.fzf.zsh && source ~/.fzf.zsh

{% if ansible_system == "Linux" %}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{% endif %}
eval "$(starship init zsh)"
eval "$(zoxide init zsh)"

[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && export SDKMAN_DIR="$HOME/.sdkman" && source "$HOME/.sdkman/bin/sdkman-init.sh"
